<!DOCTYPE html>
<html lang="en">
<title>DB Project</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
input[type='text'] {
        width: 250px;
        height: 50px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 3px solid black;
}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
      <a href="/mainpage" class="w3-bar-item w3-button w3-theme-l1">Home</a>
      <a href="/corporation" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Corporation</a>
      <a href="/search" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Search</a>
    </div>
  </div>


<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Menu</b></h4>
  <a class="w3-bar-item w3-button w3-hover-black" href="{{ url_for('corporation') }}">Corportation</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="{{ url_for('search') }}">Search</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">
<script>

</script>
  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">User Login</h1>
      <form method="POST" action = "{{ url_for('corporation') }}">
        아이디 : <input type="text" id="username" name="username" style = "margin-left: 35px;"><br><br>
        전공 : <input type="text" id="major" name="major"style = "margin-left: 48px;" ><br><br>
        전화번호 : <input type="text" id="phone" name="phone" style = "margin-left: 20px;"><br><br>
        지역 : <input type="text" id="region" name="region" style = "margin-left: 48px;"><br><br>
        스킬 1 : <input type="text" id="special1" name="special1" style = "margin-left: 35px;">
        <input type="text" id="specialv1" name="specialv1" style  = "width:50px"><br><br>
        스킬 2 : <input type="text" id="special2" name="special2" style = "margin-left: 35px;">
        <input type="text" id="specialv2" name="specialv2" style  = "width:50px"><br><br>
        <input type="submit" value = "시작하기">
    </form>
    <div class="w3-third w3-container">
    </div>
  </div>


<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
